/* div {
	height: 200px;
	width: 200px;
	background-color: red;
	margin-bottom: 30px;
} */
/* .dem {
	position: absolute;
} */
/* #demo {
	position: fixed;
	top: 40px;
	left: 30%;
}
 .demo2 {
	position: absolute;
	left: 300px;
}
 
 */
/* body {
	background: grey;
}
#contener {
	width: 40%;
	background-color: hotpink;
	margin: 0px auto 0px auto;
	/* padding-left: auto; 
}
.navbar {
	list-style-type: none;
	position: fixed;
	background-color: rgb(126, 9, 9);
}
.navbar li {
	display: inline;
	margin-right: 60px;
	font-size: 30px;
}
li a {
	text-decoration: none;
}
 */
/*///////////////////////////////////*/
/*
  
* {
	margin: 0px;
	 border: 1px solid; 

.header {
	background-color: red;
	padding: 50px;
}
.div1 {
	background-color: brown;
	width: 20%;
	height: 400px;
	display: inline-block;
}
.div2 {
	background-color: blueviolet;
	width: 59%;
	height: 400px;
	display: inline-block;
}
.div3 {
	background-color: yellow;
	width: 20%;
	height: 400px;
	display: inline-block;
}
.footer {
	background-color: gray;
	padding: 50px;
}
 */
